BCRM_ENV=local
DJANGO_SECRET_KEY=unsafe-local-development-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# mysql yoki sqlite
DB_ENGINE=mysql
DB_NAME=bcrm
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

REDIS_URL=redis://127.0.0.1:6379/0
